<div data-cx-control="{{inputType}}" data-cx-field="{{fieldName}}" class="form-input-container" id="{{id}}_container">
    {{#if label}}
    <label>{{label}}</label>
    {{/if}}
    {{{inputControl}}}
</div>