<div id="{{id}}_container" data-cx-control="{{inputType}}" data-cx-field="{{fieldName}}" 
        data-cx-field-value="{{value}}" 
        data-cx-validation="{{validation}}" 
        class="form-input-container {{inline}}">
    {{#if label}}
    <label>{{label}}</label>
    {{/if}}
    {{{inputControl}}}
</div>