
<div class="form-drop-down-container" id="{{id}}_control" data-bkgd-color="{{css.backgroundColor}}" data-bkgd-color-hover="{{css.backgroundColorHover}}">
    <div>
        <input id="{{id}}" name="{{id}}" type="hidden" value="{{value}}" />
        <input id="{{id}}_input" class="form-drop-down-input {{css.input}}" style="width: {{width}};" placeholder="{{placeHolder}}" type="text" />
        <span id="{{id}}_arrow" class="form-drop-down-arrow">
            ▼
        </span>
    </div>
    <div id="{{id}}_dropDown" name="{{fieldName}}" class="form-drop-down">
        {{#each items}}
        <div data-value="{{this.value}}" class="form-drop-down-item">{{this.text}}</div>
        {{/each}}
    </div>
</div>
