<div id="{{id}}_outer_container" 
    data-cx-record-name="{{recordName}}" 
    data-cx-record-path="{{path}}" 
    class="jx-table-outer-container {{fixHeadClassNoBorder}}"
    {{#if cssOuterStyle}}style="{{cssOuterStyle}}"{{/if}}
    
>
    {{#unless hideTitlePanel}}
    <div id="{{id}}_title_container" class="jx-table-title-outer-container" style="{{cssTitleOuterStyle}}">
        <div id="{{id}}_title_container" class="jx-table-title-container" style="{{cssTitleStyle}}">
            <span class="{{cssTitle}}">{{{title}}}</span>
            {{#if allowNew}}
                <input type="button" id="{{id}}_record_new" class="btn form-inline" style="margin-bottom: 5px; 
                {{#if title}}
                    margin-left: 17px;
                {{/if}}
                " value="new {{recordTitle}}" />
            {{/if}}
            {{#each showButtons as | b |}}
                <input class="btn form-inline" type="button" value="{{{b.text}}}" onclick="cx.clientExec('{{b.function}}', this);">
            {{/each}}
        </div>
        <div id="{{id}}_count_container" class="jx-table-count-container" style="{{cssTitleStyle}}">
            {{#unless noCount}}
            {{count}} item(s)
            {{/unless}}
            {{#if customCount}}
            {{{customCount}}}
            {{/if}}
        </div>
        {{#if quickSearch}}
        <div id="{{id}}_search_container" class="jx-table-search-container" style="{{cssTitleStyle}}">
            <input id="{{id}}_search" class="jx-control jx-table-quick-search" style="display: inline-block;" type="text" placeholder="quick search...">
        </div>
        {{/if}}
    </div>
    {{/unless}}
    {{#if filters}}
        <div id="{{id}}_filter_outer_container" class="jx-table-filter-outer-container">
            <div id="{{id}}_filter_container" class="jx-table-filter-container">
                {{#if paging}}
                <span class="jx-table-page-move" style="padding-right: 0px; margin-right: -6px; padding-bottom: 2px;" data-move="-1" title="previous page...">&#x25C1;</span>
                {{{pagingFilter}}}
                <span class="jx-table-page-move" style="padding-left: 0px; margin-left: -8px; padding-bottom: 2px;" data-move="1" title="next page...">&#x25B7;</span>
                {{/if}}
                
                {{{filters}}}            
                
            </div>
            <div id="{{id}}_filter_action_container" class="jx-table-filter-action-container">
                <span class="jx-table-csv-export" title="export to csv...">&#x2913;</span>&nbsp;&nbsp;
                <input type="button" id="{{id}}_filter_refresh" class="btn form-inline" value="refresh" />
                <input type="button" id="{{id}}_filter_clear" class="btn form-inline" value="clear" />
            </div>
        </div>
    {{/if}}
    {{{content}}}
    <div id="{{id}}_table_container" class="{{classTblContainer}}" {{#if cssTableContainerStyle}}style="{{cssTableContainerStyle}}"{{/if}}>
        {{{table}}}
    </div>
    {{#if lookupLists}}
    <data style="display: none;" id="{{id}}_lookup_lists">{{lookupLists}}</data>
    {{/if}}
</div>