{{#if readOnly}}
    <span name="{{id}}" class="inlineText" style="width: {{width}};">{{value}}</span>
{{else}}
    <input name="{{id}}" class="form-control" style="width: {{width}};" type="date" value="{{value}}" />
{{/if}}