{{#if readOnly}}
    <span id="{{id}}" name="{{id}}" class="inlineText" style="width: {{width}};">{{value}}</span>
{{else}}
    <input id="{{id}}" name="{{id}}" class="form-control" style="width: {{width}};" type="date" value="{{value}}" />
{{/if}}