{{#if readOnly}}
<span id="{{id}}" name="{{name}}" class="jx-inlineText">{{{value}}}</span>
{{else}}
<input
    id="{{id}}" name="{{name}}" class="jx-control jx-control-number" type="number" value="{{value}}" step="any"
    {{#if fieldNameDb}} data-cx-field-name="{{fieldNameDb}}"{{/if}}
    {{#if inputStyle}} style="{{inputStyle}}"{{/if}}
    {{#if width}} {{/if}}
    {{#if min}} min="{{min}}" {{/if}}
    {{#if max}} max="{{max}}" {{/if}}
    {{#if step}} step="{{step}}" {{/if}}
    {{#if placeHolder}}  placeholder="{{placeHolder}}" {{/if}}
    {{#if disabled}} disabled  {{/if}}
/>
{{/if}}