{{#if readOnly}}
<span id="{{id}}" name="{{name}}" class="jx-inlineText">{{{value}}}</span>
{{else}}
<input 
    id="{{id}}" name="{{name}}" class="jx-control" type="{{htmlType}}" value="{{value}}" 
    {{#if fieldNameDb}} data-cx-field-name="{{fieldNameDb}}"{{/if}}
    {{#if inputStyle}} style="{{inputStyle}}"{{/if}}
    {{#if width}} {{/if}}
    {{#if min}} minlength="{{min}}" {{/if}}
    {{#if max}} maxlength="{{max}}" {{/if}}
    {{#if placeHolder}}  placeholder="{{placeHolder}}" {{/if}}
    {{#if disabled}} disabled  {{/if}}
    {{#if readOnlyEx}} readonly  {{/if}}
/>
{{/if}}