{{#if readOnly}}
<span id="{{id}}" name="{{name}}" class="jx-inlineText">{{{value}}}</span>
{{else}}
<input 
    id="{{id}}" name="{{name}}" class="jx-control" type="text" value="{{value}}" 
    {{#if width}} {{/if}}
    {{#if min}} minlength="{{min}}" {{/if}}
    {{#if max}} maxlength="{{max}}" {{/if}}
    {{#if placeHolder}}  placeholder="{{placeHolder}}" {{/if}}
    {{#if disabled}} disabled  {{/if}}
/>
{{/if}}