{{#if readOnly}}
    <span name="{{id}}" class="inlineText" style="width: {{width}};">{{value}}</span>
{{else}}
    <input name="{{id}}" class="form-control" style="width: {{width}};" type="text" value="{{value}}" placeholder="{{placeHolder}}" />
{{/if}}
